body {
    font-family: 'Montserrat'
}
.header {
    padding: 0;
    margin: 0;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 50%;
}
.header .image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-image: url('../images/example.jpg');
    background-position: center;
    background-size: cover;
}
.header .gradient {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(163,163,163,1);
    background: -moz-linear-gradient(-45deg, rgba(163,163,163,1) 0%, rgba(0,0,0,0.82) 89%, rgba(0,0,0,0.8) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(163,163,163,1)), color-stop(89%, rgba(0,0,0,0.82)), color-stop(100%, rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(-45deg, rgba(163,163,163,1) 0%, rgba(0,0,0,0.82) 89%, rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(-45deg, rgba(163,163,163,1) 0%, rgba(0,0,0,0.82) 89%, rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(-45deg, rgba(163,163,163,1) 0%, rgba(0,0,0,0.82) 89%, rgba(0,0,0,0.8) 100%);
    background: linear-gradient(135deg, rgba(163,163,163,1) 0%, rgba(0,0,0,0.82) 89%, rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#000000', GradientType=1 );
}
.name {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 10vh;
    color: white;
}
.name .title {
    line-height: 50px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}
.name .sub-title {
    margin-bottom: 15px;
    font-size: 30px;
    color: #ecf0f1;
}
.contact {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}
.contact li {
    font-size: 20px;
    display: inline-block
}
.contact li a{
    border: 1px solid gray;
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
}
.content-box {
    position: absolute;
    right: 0;
    width: 50%;
}
.content {
    padding: 10px 50px;
    margin-bottom: 10px;
}
.content h3 {
    font-size: 30px;
    margin-bottom: 25px;
    color: #7f8c8d;
}
.content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.content p {
    font-size: 18px;
}
.grey {
    background-color: #F2F1EF;
}
.bar {
    padding-bottom: 10px;
    width: 100%;
}
.progress {
    color: white;
    text-align: center;
    background-color: #6C7A89;
}
@media (max-width: 600px) {
    .header {
        position: relative;
        width: 100%;
    }
    .content-box {
        position: relative;
        width: 100%;
    }
}